/*
__pycache__
!gamdl
!gamdl/downloader
!gamdl/downloader/**
gamdl/downloader/ammuxer/target/
gamdl/downloader/**/__pycache__/
gamdl/ammuxer/
!.gitignore
!.github
!.github/**
!.python-version
!pyproject.toml
!README.md
!uv.lock

# Local timestamped backups (added 2026-07-01)
*.bak
*.bak_*
gamdl/*.so
